{% load thumbnail %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<meta name="keywords" content="{{keywords}}" />
		<meta name="author" content="{{author}}" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/photos/image/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/photos/image/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/photos/image/css/layout-simple.css" />
		<meta property="og:url"           content="{{baseDomain}}/image/{{data.id}}" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="{{title}} | {{data.title}}" />
		<meta property="og:description"   content="{{data.description}}" />
		{% thumbnail data.image "600x400" crop="center" as im %}
		<meta property="og:image" content="{{baseDomain}}{{ im.url }}" />
		<meta name="twitter:image" content="{{baseDomain}}{{ im.url }}" />
		{% endthumbnail %}
		<meta name="twitter:card" content="photo" />
		<meta name="twitter:site" content="@{{baseDomain}}" />
		<meta name="twitter:title" content="{{title}} | {{data.title}}" />
		<meta name="twitter:url" content="{{baseDomain}}/image/{{data.id}}" />
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Place this tag in your head or just before your close body tag. -->
		<script src="https://apis.google.com/js/platform.js" async defer></script>

	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div id="container" class="container">
			<header class="intro">
				{% thumbnail data.image "900x600" crop="center" as im %}
						<img class="intro__image" src="{{ im.url }}" alt="{{image.title}}"/>
				{% endthumbnail %}
				<div class="intro__content">
					<div class="intro__subtitle">
						<a href="/"><img src="/static/photos/image/img/home-md.png" width="50px" alt="home"/></a>
					
						<button class="trigger">
							<svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">
								<g class="icon icon--grid">
									<rect x="32.5" y="5.5" width="22" height="22"/>
									<rect x="4.5" y="5.5" width="22" height="22"/>
									<rect x="32.5" y="33.5" width="22" height="22"/>
									<rect x="4.5" y="33.5" width="22" height="22"/>
								</g>
								<g class="icon icon--cross">
									<line x1="4.5" y1="55.5" x2="54.953" y2="5.046"/>
									<line x1="54.953" y1="55.5" x2="4.5" y2="5.047"/>
								</g>
							</svg>
							<span>View content</span>
						</button>
					</div>
				</div><!-- /intro__content -->
			</header><!-- /intro -->
			<section class="items-wrap">
				<div class="items-wrap-container" style="position: relative;">
					<h1>{{data.title}}</h1>
					<p style="text-align: justify;color:#000">{{data.description}}</p>
					<div class="share-icons">
						<table>
							<tr>
								{% if data.share_googleplus == True  %} 
								<td class="google-plus">
									<div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="{{baseDomain}}/image/{{data.id}}"></div>
								</td>
								{% endif %}
								{% if data.share_facebook == True  %} 
								<td>
									<div class="fb-share-button" data-href="{{baseDomain}}/image/{{data.id}}" data-layout="button"></div>
								</td>
								{% endif %}
								{% if data.share_twitter == True  %} 
								<td class="twitter">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{baseDomain}}/image/{{data.id}}">Tweet</a>
								</td>
								{% endif %}
							</tr>
						</table>
					</div>
					<div class="pic-info">
						<ul>
							<li>
								<h4>Camera</h4>
								<p>{{data.cameraModel}}</p>
							</li>
							<li>
								<h4>Lens</h4>
								<p>{{data.cameraLens}}</p>
							</li>
							<li>
								<h4>Focal Length</h4>
								<p>{{data.focalLength}}</p>
							</li>
							<li>
								<h4>Aperature</h4>
								<p>{{data.aperature}}</p>
							</li>
							<li>
								<h4>Exposure Time</h4>
								<p>{{data.exposureTime}}</p>
							</li>
							<li>
								<h4>ISO</h4>
								<p>{{data.iso}}</p>
							</li>
							<div style="clear: both;margin-bottom:2% "></div>
						</ul>
					</div>
				</div>
			</section>
		</div><!-- /container -->
		<script src="/static/photos/image/js/classie.js"></script>
		<script>
			(function() {
				var container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function toggleContent() {
					if( classie.has( container, 'container--open' ) ) {
						classie.remove( container, 'container--open' );
						classie.remove( trigger, 'trigger--active' );
						window.addEventListener( 'scroll', noscroll );
					}
					else {
						classie.add( container, 'container--open' );
						classie.add( trigger, 'trigger--active' );
						window.removeEventListener( 'scroll', noscroll );
					}
				}

				function noscroll() {
					window.scrollTo( 0, 0 );
				}

				// reset scrolling position
				document.body.scrollTop = document.documentElement.scrollTop = 0;

				// disable scrolling
				window.addEventListener( 'scroll', noscroll );

				trigger.addEventListener( 'click', toggleContent );

				// For Demo purposes only (prevent jump on click)
				[].slice.call( document.querySelectorAll('.items-wrap a') ).forEach( function(el) { el.onclick = function() { return false; } } );
			})();
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
	</body>
</html>
